<!DOCTYPE html>
<html>

<head>
    <title>Block Explorer</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body ng-app="BlockExplorer">
	 <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse mb-4" style="background-color: #6c757d!important; padding-left: 100px;">
       <div class="">
        	<a class="navbar-brand"><img width="80px" src="https://raw.githubusercontent.com/zulnemekh/zulnemekh.github.io/master/images/unimedia-token-logo.png"></a>
        </div>	                	 
    </nav>

    <div class="container" ng-controller="MainController">
    	
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1 id="page-title">Address</h1>
            </div>
        </div>
        <div class="row"  ng-if="!initial">
            <div class="col-md-6 offset-md-3">
                <form ng-submit="search(addressValue)">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="address" ng-model="addressValue">
                    </div>
                    <button
                        type="submit"
                        class="btn btn-primary margin-auto btn-search">
                            Search
                    </button>
                    <p ng-if="!user_info && initialSearchMade" class="no-data-text">
                        No data found for search.
                    </p>
                </form>
            </div>
        </div>
        <div class="row" ng-if="initial">
            <div class="col-md-10 offset-md-1">

				    <!-- 'display block' table -->
				 <div class="col-md-6 offset-md-3" ng-if="user_info">                
                <div class="card text-white bg-info mb-3" style="max-width: 18rem;" >
				  <div class="card-header">Welcome {{ user_info.role }} {{ user_info.full_name }}</div>
				  <div class="card-body">
				    <h5 class="card-title">Info</h5>
				    <p class="card-text">{{ user_info.description }}</p>
				  </div>
				</div>
             </div>
	
                 <div class="row" ng-if="initial">
                 	<div class="col-md-6 offset-md-3">
                 	<div class="card"  style="padding: 30px;">
		            
		            	<!-- user_id, credit_hour, grade_point, grade_state, teacher_name, subject_name, date -->
		                <form ng-submit="create_grade(subject_name, credit_hour, grade_point, grade_state, user_address)">
		                	<div class="form-group">
							  <label>Course:</label>
							  <select class="form-control" id="sel1" ng-model="subject_name">
							    <option>Linear algebra</option>
							    <option>Data structure</option>
							    <option>Discrete math</option>
							    <option>Differentiation math</option>
							  </select>
							</div>

		                	<div class="form-group">
		                		<label >User address:</label>
		                        <input type="text" class="form-control" placeholder="User address" ng-model="user_address">
		                    </div>
		                    <div class="form-group">
							  <label >Credit hour:</label>
							  <select class="form-control" ng-model="credit_hour">
							    <option>1</option>
							    <option>2</option>
							    <option>3</option>
							    <option>4</option>
							    <option>5</option>
							  </select>
							</div>

		                    <div class="form-group">
		                    	<label >Grade precent:</label>
		                        <input type="number" class="form-control" placeholder="grade point" ng-model="grade_point">
		                    </div>
		                    
		                    <div class="form-group">
							  <label >Grade state:</label>
							  <select class="form-control"  ng-model="grade_state">
							    <option  selected="selected">pass</option>
							    <option>fail</option>							    
							  </select>
							</div>
		                 

		                    <button
		                        type="submit"
		                        class="btn btn-primary margin-auto btn-search">
		                            Submit
		                    </button>
		                    <p ng-if="!user_info && initialSearchMade" class="no-data-text">
		                        No data found for search.
		                    </p>
		                </form>
		            </div>
		            </div>
		        </div>

            </div>
        </div>
    </div>

    <script>
        window.app = angular.module('BlockExplorer', []);
      

        app.controller('MainController', function($scope, $http) {
            $scope.amount = null;
            $scope.recipient = null;
            $scope.addressData = null;
            $scope.initialSearchMade = false;
            $scope.initial = false;
 			
            
            $scope.toTransaction = function(address) {
                $http.get(`/user_id_hash/${address}`)
                .then(response => {
                	$scope.initialSearchMade = true;
                    $scope.addressData = response.data;
                    $scope.user_info = response.data.userData.userData;
                    if ($scope.user_info && $scope.user_info.role == "teacher"){
	                    $scope.initial =  true	                    
	                    console.log($scope.user_info.description);                    
	                    // text = "{\"firstName\":\"John\",\"age\":454 }"
	                    obj=angular.fromJson($scope.user_info.description);
	                    console.log(obj);
	                 } else {
	                 	$scope.user_info = null;
	                 }
                    
                });
            };
       

            $scope.search = function(addressValue) {
                $scope.toTransaction(addressValue);     
            };

            $scope.create_grade = function(subject_name, credit_hour, grade_point, grade_state, user_address) {
            	 

                 var postData = JSON.stringify({
                        credit_hour: credit_hour,
                        grade_point: grade_point,
                        grade_state: grade_state,
                        teacher_name: $scope.user_info.full_name,
                        subject_name: subject_name,
                        user_id: user_address,
                        date: Date.now()
                      });
                 
                  var config = {
                        headers : {
                           'Content-Type': ['application/json']
                        }
                    }
                  
                $http.post(`/transaction/broadcast/create_grade`,
                      postData, config)
                .then(response => {
                    console.log(response.data)
                });
            };


        });
    </script>

    <style type="text/css">
        html, body {
            min-height: 100vh;
            background-color: #e8e8e8;
        }
        .container {
            padding-top: 50px;
            padding-bottom: 50px;
        }
        #page-title {
            text-align: center;
            margin-bottom: 40px;
        }
        .table-title {
            margin-bottom: 20px;
            text-align: center;
        }
        .table {
            background-color: #ffffff;
            box-shadow: 2px 2px 15px -3px rgba(0,0,0,0.75);
        }
        #balance-text {
            text-align: center;
            margin-top: -20px;
            margin-bottom: 30px;
        }
        .margin-auto {
            margin: auto;
            display: block;
        }
        .btn-search {
            margin-bottom: 50px;
        }
        .bold {
            font-weight: 700;
        }
        .no-data-text {
            color: red;
            text-align: center;
        }
    </style>


</body>

</html>
